In [6]:
import pandas as pd

In [3]:
data_file = "Resources/election_data.csv"

In [7]:
data_file_df = pd.read_csv(data_file)
data_file_df.head(20)

    Voter ID   County Candidate
0   12864552    Marsh      Khan
1   17444633    Marsh    Correy
2   19330107    Marsh      Khan
3   19865775    Queen      Khan
4   11927875    Marsh      Khan
5   19014606    Marsh        Li
6   17775191    Queen    Correy
7   14003692    Marsh      Khan
8   14255761    Marsh      Khan
9   13870173    Marsh    Correy
10  16793141    Marsh      Khan
11  10591158    Bamoo    Correy
12  12344763  Trandee      Khan
13  18611011    Marsh      Khan
14  17845903    Marsh    Correy
15  12621425  Trandee      Khan
16  14365844    Marsh    Correy
17  13444989    Marsh    Correy
18  19204501  Trandee      Khan
19  10098063    Queen    Correy